.dance-types {
    background-color: #eee;
}

.dance-types .info-tile-title {
    text-align: center;
}

.dance-types .info-tile-title-border-bottom {
    align-self: center;
}

.dance-types-image-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.dance-types-image-container img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}