.image-info-container {
    width: 400px;
    height: 400px;
}

.image-info-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: inherit;
    width: inherit;
    color: rgba(255, 255, 255, 0);
    background-color: rgba(241, 91, 80, 0); 
}

.image-info-description p, .image-info-description h2 {
    word-wrap: break-word;
    text-align: center;
    max-width: 300px;
    align-self: center;
}

.image-info-description:hover {
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(241, 91, 80, 0.9); 
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}

