.info-tile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 1px solid grey;
}

.tiles-wrapper .info-tile:nth-child(odd) {
    background-color: #eee;
}

.info-tile-title {
    font-size: 20px;
    padding: 10px 0;
}

.info-tile-description {
    padding: 10px 0;
}

.info-tile-title-border-bottom {
    border: 1px solid red;
    width: 50px;
}