.footer-container {
    display: flex;
    justify-content: center;
    margin: 45px 0;
    min-height: 300px;
}

.footer-container .width-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}