.header { 
    background-color: rgb(242, 58, 45); 
    color: white;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.header-container {
    display: flex;
}

#nav-buttons-right {
    display: flex;
    margin-left: auto;
}