#nav-home-button a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    min-height: 40px;
    font-size: 24px;
}


#nav-home-button:hover {
    background-color: rgb(241, 91, 80); 
}